* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkgray;
    min-height: 100vh;
    display: grid; /*display: grid é utilizado para definir o grid layout no container */
    grid-template-columns: repeat(3, 1fr); /* grid-template-columns é utilizado para definir as colunas do grid - podemos utilizar % e fr (frame: parte da tela que você quer que o elemento ocupe 1fr 1fr 1fr), também temos o repeat usado para repetir as colunas, o primeiro valor é o número de colunas e o segundo a medida que o elemento irá ocupar da tela*/
    grid-auto-rows: minmax(80px, auto); /* aqui definimos o tamanho das linhas*/ 
    /* com o minmax()  podemos definir o tamanho mínimo e o tamanho máximo do item*/
    /*row-gap: ;  espaçamento entre as linhas*/
    /*column-gap: ; espaçamento entre as colunas*/
    gap: 10px 15px; /* espaçamento geral -  primeiro valor espaço entre as linhas e o segundo entre as colunas*/
    /*grid-template-rows: repeat(3, 1fr);  grid-template-rows é utilizado para definir as linhas do grid*/
    grid-template-areas: 
        "item1 item1 item1"
        "item2 item2 item3"
        "item2 item2 item4"
        "item5 item5 item5"
        "item5 item5 item5"
        "item6 item7 item7"
        "item8 item7 item7"
        "item9 item9 item9";
}

.item {
    border: 2px solid black;
    background-color: white;
    font-size: 30px;
    padding: 10px;
}

.item1 {
    /*  grid-column: 1/4;  utilizado para definir o tamanho da coluna, o número 1 representa a linha 1 e o 4 a linha 4 (verticais)  ou seja o item irá ocupar todo o espaço disponível*/
     /* grid-row: 2/4;  grid-row é basicamente a mesma coisa que o grid-column mas agora as linhas estão na horizontal ou seja o item6 irá ocupar da linha 4 até a linha 6 na horizontal*/
     grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8{
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}